{% extends "base.html" %}

{% block breadcrumb %} 
添加服务器
{% endblock %}
{% block main %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
	<div class="col-sm-10">
	     <div class="ibox float-e-margins">
		<div class="ibox-title">
		    <h5>填写服务器信息</h5>
		    <div class="ibox-tools">
			<a class="collapse-link">
			    <i class="fa fa-chevron-up"></i>
			</a>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			    <i class="fa fa-wrench"></i>
			</a>
			<a class="close-link">
			    <i class="fa fa-times"></i>
			</a>
		    </div>
		</div>
		<div class="ibox-content">
		    <form id="dberForm" class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
			<div class="form-group">
			    <label for="name" class="col-sm-3 control-label  ">集群</label>
			    <div class="col-sm-8">
				<input id="jq" name="jq" placeholder="属于哪一套集群" type="text" class="form-control" aria-required="true">
			     </div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <label for="name_cn" class="col-sm-3 control-label">IP地址</label>
			    <div class="col-sm-8">
				<input id="ip" name="ip" placeholder="这台服务器IP地址" type="text" class="form-control" aria-required="true">
			    </div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <label for="address" class="col-sm-3 control-label">浮动地址</label>
			    <div class="col-sm-8">
				<input id="fd_ip" name="fd_ip" placeholder="浮动IP地址，没有为空即可" type="text" class="form-control" aria-required="true">
			    </div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <label for="adminer" class="col-sm-3 control-label">业务名称</label>
			    <div class="col-sm-8">
				<input id="yw" name="yw" placeholder="有哪套业务在" type="text" class="form-control" aria-required="true">
			    </div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <label for="phone" class="col-sm-3 control-label">备注</label>
			    <div class="col-sm-8">
				<input id="bz" name="bz" placeholder="备注信息" type="text" class="form-control" aria-required="true" datatype='m' errormsg='错误了吗？'>
			    </div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <div class="col-sm-6 col-sm-offset-2">
				<button id="submit_button" class="btn btn-primary">确认保存</button>
				<button id='cancel_button' class="btn btn-white" type="reset">取消</button>
				<button class="btn btn-white" type="reset">重置</button>
			    </div>
			</div>
			<div style="color:red" class="text-center" id="errmsg"></div>
		    </form>
		</div>
	    </div>
	</div>
    </div>
</div>

<script>

        $("#submit_button").click(fudber{
})
            $.post("/dberadd",$("#dberForm").serialize(),function(data){
                data=JSON.parse(data);
                if(data["code"] == 0){
                    alert(data['result'])
                    location.href="/dber";
                }else{
                    $("#errmsg").text(data["errmsg"]);
                }
            })
            return false
        })

$('#cancel_button').click(function(){
    location.href='/dber'
})


</script>
{% endblock %}

